## 第2章: UNIXコマンドの基礎

* 日本の最高気温の記録を「都道府県」「地点」「℃」「日」のタブ区切り形式で格納したhightemp.txtを入力として用いる.

### 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [12]:
with open('hightemp.txt','r') as f:
    lines = f.readlines()
    print('hightemp.txtの行数 : ',len(lines))

hightemp.txtの行数 :  24

wcコマンドで確認

> $ wc hightemp.txt

> 24  96 813 hightemp.txt

### 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [26]:
with open('hightemp.txt','r') as f:
    lines = f.readlines()
    # タブがあることを確認
    print(lines,'\n')
    
    # タブをスペースに置換
    replaced = [line.replace('\t',' ') for line in lines]
    print(replaced)

['高知県\t江川崎\t41\t2013-08-12\n', '埼玉県\t熊谷\t40.9\t2007-08-16\n', '岐阜県\t多治見\t40.9\t2007-08-16\n', '山形県\t山形\t40.8\t1933-07-25\n', '山梨県\t甲府\t40.7\t2013-08-10\n', '和歌山県\tかつらぎ\t40.6\t1994-08-08\n', '静岡県\t天竜\t40.6\t1994-08-04\n', '山梨県\t勝沼\t40.5\t2013-08-10\n', '埼玉県\t越谷\t40.4\t2007-08-16\n', '群馬県\t館林\t40.3\t2007-08-16\n', '群馬県\t上里見\t40.3\t1998-07-04\n', '愛知県\t愛西\t40.3\t1994-08-05\n', '千葉県\t牛久\t40.2\t2004-07-20\n', '静岡県\t佐久間\t40.2\t2001-07-24\n', '愛媛県\t宇和島\t40.2\t1927-07-22\n', '山形県\t酒田\t40.1\t1978-08-03\n', '岐阜県\t美濃\t40\t2007-08-16\n', '群馬県\t前橋\t40\t2001-07-24\n', '千葉県\t茂原\t39.9\t2013-08-11\n', '埼玉県\t鳩山\t39.9\t1997-07-05\n', '大阪府\t豊中\t39.9\t1994-08-08\n', '山梨県\t大月\t39.9\t1990-07-19\n', '山形県\t鶴岡\t39.9\t1978-08-03\n', '愛知県\t名古屋\t39.9\t1942-08-02\n']

['高知県 江川崎 41 2013-08-12\n', '埼玉県 熊谷 40.9 2007-08-16\n', '岐阜県 多治見 40.9 2007-08-16\n', '山形県 山形 40.8 1933-07-25\n', '山梨県 甲府 40.7 2013-08-10\n', '和歌山県 かつらぎ 40.6 1994-08-08\n', '静岡県 天竜 40.6 1994-08-04\n', '山梨県 勝沼 40.5 2013-08-10\n', '埼玉県 越谷 40.4 2007-08-16\n', '群馬県 館林 40.3 2007-08-16\n', '群馬県 上里見 40.3 1998-07-04\n', '愛知県 愛西 40.3 1994-08-05\n', '千葉県 牛久 40.2 2004-07-20\n', '静岡県 佐久間 40.2 2001-07-24\n', '愛媛県 宇和島 40.2 1927-07-22\n', '山形県 酒田 40.1 1978-08-03\n', '岐阜県 美濃 40 2007-08-16\n', '群馬県 前橋 40 2001-07-24\n', '千葉県 茂原 39.9 2013-08-11\n', '埼玉県 鳩山 39.9 1997-07-05\n', '大阪府 豊中 39.9 1994-08-08\n', '山梨県 大月 39.9 1990-07-19\n', '山形県 鶴岡 39.9 1978-08-03\n', '愛知県 名古屋 39.9 1942-08-02\n']

 trコマンドで置換する
 
 > \$ cat hightemp.txt | tr '\t' ' ' > hightemp_011.txt

### 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [32]:
'''
1列目・2列目を抽出する
'''
col1 = []
col2 = []
with open('hightemp.txt','r') as f:
    lines = f.readlines()
    for line in lines:
        cols = line.split('\t')
        col1.append(cols[0])
        col2.append(cols[1])
'''
1列目を保存
'''
with open('col1.txt','w') as fout1:
    for each in col1:
        fout1.write(each+'\n')
'''
2列目を保存
'''
with open('col2.txt','w') as fout2:
    for each in col2:
        fout2.write(each+'\n')

cutコマンドで実行

> \$ cut -f1 hightemp.txt > col1_unix.txt

> \$ cut -f2 hightemp.txt > col2_unix.txt

### 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．

確認にはpasteコマンドを用いよ．

In [46]:
col1 = open('col1.txt','r').readlines()
col2 = open('col2.txt','r').readlines()

'''
col1.txtとcol2.txtを結合する
'''
colMerge = []
for c1,c2 in zip(col1,col2):
    colMerge.append(c1.strip() + '\t' + c2)

'''
結合したリストをテキストファイルにする
'''
with open('colMerged.txt','w') as fout:
    for each in colMerge:
        fout.write(each)

pasteコマンドで実行

> \$ paste col1_unix.txt col2_unix.txt > colMerged_unix.txt

### 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

* 今回はJupyter Notebook上で実行しているため, 自然数Nは関数の引数として与えています.

In [63]:
import sys

def getHead(head):
    with open('hightemp.txt','r') as f:
        lines = f.readlines()
        for lineCnt in range(head):
            print(lines[lineCnt])

if __name__ == "__main__":
    args = sys.argv
    head = args[1]
    # コマンドライン上で実行するときはgetHeadに渡す引数を変数headに変更する
    getHead(5)

高知県	江川崎	41	2013-08-12

埼玉県	熊谷	40.9	2007-08-16

岐阜県	多治見	40.9	2007-08-16

山形県	山形	40.8	1933-07-25

山梨県	甲府	40.7	2013-08-10

headコマンドで確認

> head -n 5 hightemp.txt

### 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

* 今回はJupyter Notebook上で実行しているため, 自然数Nは関数の引数として与えています.

In [66]:
import sys

def getTail(tail):
    with open('hightemp.txt','r') as f:
        lines = f.readlines()
        tails = len(lines) - tail
        for lineCnt in range(tails,len(lines),1):
            print(lines[lineCnt])
            
if __name__ == "__main__":
    args = sys.argv
    tail = args[1]
     # コマンドライン上で実行するときはgetTailに渡す引数を変数tailに変更する
    getTail(5)

埼玉県	鳩山	39.9	1997-07-05

大阪府	豊中	39.9	1994-08-08

山梨県	大月	39.9	1990-07-19

山形県	鶴岡	39.9	1978-08-03

愛知県	名古屋	39.9	1942-08-02

tailコマンドで確認

> \$ tail -n 5 hightemp.txt

### 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

* 今回はJupyter Notebook上で実行しているため, 自然数Nは関数の引数として与えています.

In [87]:
import sys

def saveFile(From,to,cols):
    fname = 'hightemp_' + str(From) + '-' + str(to) + '.txt'
    with open(fname,'w') as fout:
        for line in cols:
            fout.write(line)

def splitFile(splitNum):
    with open('hightemp.txt','r') as f:
        lines = f.readlines()
        each = int(len(lines)/splitNum)
        point = [point for point in range(0,len(lines),each)]
        point.append(point[len(point)-1]+each)
        
        for num in range(len(point)-1):
            From = point[num]
            to = point[num+1]
            cols = []
            for col in range(From,to,1):
                print(lines[col])
                cols.append(lines[col])
            print('\n')
            saveFile(From,to,cols)
            
if __name__ == "__main__":
    args = sys.argv
    split = args[1]
    splitFile(4)

高知県	江川崎	41	2013-08-12

埼玉県	熊谷	40.9	2007-08-16

岐阜県	多治見	40.9	2007-08-16

山形県	山形	40.8	1933-07-25

山梨県	甲府	40.7	2013-08-10

和歌山県	かつらぎ	40.6	1994-08-08



静岡県	天竜	40.6	1994-08-04

山梨県	勝沼	40.5	2013-08-10

埼玉県	越谷	40.4	2007-08-16

群馬県	館林	40.3	2007-08-16

群馬県	上里見	40.3	1998-07-04

愛知県	愛西	40.3	1994-08-05



千葉県	牛久	40.2	2004-07-20

静岡県	佐久間	40.2	2001-07-24

愛媛県	宇和島	40.2	1927-07-22

山形県	酒田	40.1	1978-08-03

岐阜県	美濃	40	2007-08-16

群馬県	前橋	40	2001-07-24



千葉県	茂原	39.9	2013-08-11

埼玉県	鳩山	39.9	1997-07-05

大阪府	豊中	39.9	1994-08-08

山梨県	大月	39.9	1990-07-19

山形県	鶴岡	39.9	1978-08-03

愛知県	名古屋	39.9	1942-08-02

splitコマンドで実行

> \$ split -l 4 hightemp.txt

* 4分割なのでxaa xab xac xadというファイルが作られる.